<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Update Student</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>

<nav class="navbar bg-dark navbar-dark">
    <!-- Navbar links -->
    <ul class="navbar-nav ms-3">
        <li class="nav-item">
            <a th:href="@{/students}" class="nav-link text-light">Student Management System</a>
        </li>
    </ul>
</nav>

<div class="container mt-1">
    <h2 class="text-center mb-3">Update Student</h2>
    <form th:action="@{/students/edit/{id}(id=${student.id})}" th:object="${student}" method="post"
          class="container border p-4 w-50 mx-auto">
        <!-- Student Name -->
        <div class="form-group mb-3">
            <label for="name" class="form-label">Student Name</label>
            <input type="text" id="name" class="form-control form-control-sm" placeholder="Enter Full Name" th:field="*{name}" required>
        </div>

        <!-- Student Mobile No -->
        <div class="form-group mb-3">
            <label for="course" class="form-label">Student Mobile No</label>
            <input type="text" id="course" class="form-control form-control-sm" placeholder="Enter Course Name" th:field="*{course}" required>
        </div>

        <!-- Student City -->
        <div class="form-group mb-4">
            <label for="city" class="form-label">Student City</label>
            <input type="text" id="city" class="form-control form-control-sm" placeholder="Enter City Name" th:field="*{city}" required>
        </div>

        <!-- Student Email -->
        <div class="form-group mb-4">
            <label for="email" class="form-label">Student Email</label>
            <input type="email" id="email" class="form-control form-control-sm" placeholder="Enter Email Id" th:field="*{email}" required>
        </div>

        <!-- Submit Button -->
        <div class="box-footer text-center">
            <button type="submit" class="btn btn-primary btn-sm w-25">Submit</button>
        </div>
    </form>
</div>

</body>
</html>
